
div{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.tab{
    padding: 5px;
    border: 2px solid gray;
    background-color: aquamarine;
}

h3{
    padding: 10px;
    display: none;
}