#scoreList{
    text-align: left;
    position: fixed;
}


body{
    text-align: center;
}

.btn{
    width: 200px;
    height:200px;
    border: 4px solid black;
    border-radius: 8px;
    margin: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
    
}


.orange{
    background-color: coral;
}

.purple{
    background-color: blueviolet;
}

.green{
    background-color: aquamarine;
}

.sky{
    background-color: cornflowerblue;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}