#container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    border: 5px solid rgb(27, 188, 212);
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.s{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(9, 9, 9);
    border-radius: 5px;
    background-color: rgb(121, 119, 117);
    text-align: center;
    
}


/* Nav bar css */

.nav{
    margin-top: 50px;
    width: 900px;
    height: 50px;
    background-color: palevioletred;
    font-size: 24px;
    display: inline-block;
    border: 3px solid rgb(46, 188, 173);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.child{
    width: 80px;
    height: 50px;
   
}