

#ball{
    background-color: orange;
    border-radius: 50%;
    border-color: black;
    border: 3px;
    width: 400px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 200px;

}

#eye{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    margin-left: 100px;
    margin-top: 100px;
}

#mouth{
    width: 160px;
    height: 80px;
    background-color: rgb(218, 28, 28);
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 260px;
    left: 120px;
}