<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write your message</h3>
    <form method="POST" action="/chats"  >
        <input type="text" placeholder="Who are you" name="from">
        <br>
        <br>
        <textarea>Write your message here</textarea>
        <br>
        <br>
        <input type="text" placeholder="receiver name" name="to">
        <br>
        <br>
        <button>Send Message</button>
    </form>
</body>
</html>