<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    
</head>
<body>
    <p>Edit Post : <%= post.id %> </p>
    <div class="post">
       <h3 class="user">@<%= post.username  %></h3>
       <h4 class="content"> </h4>
    </div>
      <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
        <textarea name="content" id="content" rows="4" cols="50"><%= post.content %></textarea>
       <br> <button type="submit">Save Changes</button>
    </form> 
     
</body>
</html>