<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is a Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nisi voluptatum. Sapiente, asperiores magnam? Magnam sint sit, consequuntur, facere adipisci reiciendis doloribus voluptatum nemo rem doloremque deleniti accusantium est ex?</p>
   <button>Click me!</button>

   <h4>Interpolation Embedded expression</h4>
   <p> <%= 124+3  %> </p>  <%#it is used to dynamic coding  %>
</body>
</html>