
.one{
    width: 100px;
    height: 100px;
    background-color: blue;

}
.two{
    margin-left: 150px;
    width: 100px;
    height: 100px;
    background-color: brown;
}

.hidden{
    display: none;
}

.container{
    display: flex;
    justify-content: center;
}