/* Add this CSS to your component or a separate stylesheet */
/* only for password generator css file  */
body {
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    background-color: #f8f8f8;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  button,
  textarea {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  textarea {
    width: 100%;
    height: 70px;
    resize: none;
  }
  
  /* Checkbox styles */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  