
p:hover{
    background-color: red;
}

p::selection{
    background-color: #fff;
}

p::first-letter{
    font-size: 222%;
}


h1{
    font-family: sans-serif;
    background-color: rgb(47, 47, 114);
    padding: .1%;
    margin-bottom: 1px; 
    
    /* height: 40px */
    margin: auto;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0px;
    color: chartreuse;
    align-items: flex-start;
    display: flex;
}

div{
    display: flex;
}