
p:hover{
    background-color: red;
}

p::selection{
    background-color: #fff;
}

p::first-letter{
    font-size: 222%;
}
p{
    /* display: flex; */
    display: inline-block;
}


h1{
    font-family: sans-serif;
    background-color: rgb(47, 47, 114);
    padding: .1%;
    margin-bottom: 1px; 
    
    /* height: 40px */
    margin: auto;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0px;
    color: chartreuse;
 
}



span{
    background-color: aqua;
}


#f{
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display:flex;
    /* justify-content:flex-end; */
    display: inline-block;
}

#s{
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    /* display:flex; */
    /* justify-content:flex-end; */
    display: inline-block;
}

#t{
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    /* display:flex; */
    /* justify-content:flex-end; */
    display: inline-block;
}

/* #main{
    display:flex;
    /* justify-content:flex-end; 
    display: inline-block;
} */



li{
    display: inline;
}