

.z{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
  z-index: 1;
  position: relative;
}

.z1{
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 50px;
    box-shadow: 2px 2px 2px green;
}