body {
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 10px;
}

h1{
    font-family: Arial, sans-serif;
    color: #333;
    /* text-align: center; */
    margin-top: 20px;
}